<div class="mt-3 px-2">
  <div class="card">
    <div class="card-header bg-transparent">
      <p class="lead text-uppercase mb-0">Adicionar novo artista</p>
    </div>
    <div class="card-body">
      <form class="row" [formGroup]="formArtist" (submit)="salvar()">
        <div class="col-12">
          <div class="form-group">
            <label for="inputNome">Nome</label>
            <input
              formControlName="Name"
              type="text"
              class="form-control"
              id="inputNome"
              placeholder="nome..."
              autofocus
            />
            <simples-message
              *ngIf="formArtist.get('Name').errors?.required"
              mensagem="Nome é obrigatório"
            >
            </simples-message>
          </div>

          <button
            type="submit"
            class="btn btn-success"
            [disabled]="formArtist.invalid"
          >
            <i class="fa fa-save pr-2"></i>Salvar
          </button>
        </div>
      </form>
    </div>
    <div class="card-footer bg-transparent">
      <a routerLink="/lista" class="card-link"> ir para lista de album </a>
      <a routerLink="/novo" class="card-link"> adicionar novo album</a>
      <a routerLink="/artista" class="card-link"> ir para lista de artista</a>
    </div>
  </div>
</div>
