<div class="mt-3 px-2">
  <div class="card">
    <div class="card-header bg-transparent">
      <p class="lead text-uppercase mb-0">Adicionar novo album</p>
    </div>
    <div class="card-body">
      <form class="row" [formGroup]="editarAlbum" (submit)="update()">
        <div class="col-12">
          <div class="form-group">
            <label for="inputNome">Nome</label>
            <input
              formControlName="Name"
              type="text"
              class="form-control"
              id="inputNome"
              placeholder="nome..."
              autofocus
            />
            <simples-message
              *ngIf="editarAlbum.get('Name').errors?.required"
              mensagem="Nome é obrigatório"
            >
            </simples-message>
          </div>

          <div class="form-group">
            <label for="artista">Artista</label>
            <select formControlName="Artist" class="form-control" id="artista">
              <option *ngFor="let artist of artists" [value]="artist.Id">{{
                artist.Name
              }}</option>
            </select>
            <simples-message
              *ngIf="editarAlbum.get('Artist').errors?.required"
              mensagem="Descrição é obrigatória"
            >
            </simples-message>
          </div>

          <button
            type="submit"
            class="btn btn-success"
            [disabled]="editarAlbum.invalid"
          >
          <i class="fa fa-pencil pr-2"></i>Atualizar
          </button>
        </div>
      </form>
    </div>
    <div class="card-footer bg-transparent">
      <a routerLink="/novoartista" class="card-link">
        adicionar novo artista
      </a>
      <a routerLink="/artista" class="card-link"> ir para lista de artista</a>
    </div>
  </div>
</div>
