<div class="bg-light mt-3 px-2">
  <div class="row justify-content-between align-items-center">
    <div class="col-12 col-lg-3"><p class="lead mb-0">Lista de albuns</p></div>
    <div class="col-12 col-lg-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <input
          class="form-control form-control-sm"
          type="search"
          placeholder="nome do album..."
          (keyup)="debounce.next($event.target.value)"
        />
      </div>
    </div>

    <div class="col-12 col-lg-3 text-lg-right my-2 font-weight-bold">
      <a routerLink="/novo" class="btn btn-light text-muted">
        <i class="fa fa-plus-circle pr-2"></i>Novo Album
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table
        class="table table-bordered table-hover"
        *ngIf="albums; else: loading"
      >
        <thead>
          <tr>
            <th scope="col" style="width: 3rem;">Cod</th>
            <th scope="col">Album</th>
            <th scope="col">Artista</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let album of (albums
                | filterAlbum: filter
                | paginate: { itemsPerPage: 10, currentPage: page,totalItems: total })"
          >
            <td class="text-center">{{ album.Id }}</td>
            <td>{{ album.Name }}</td>
            <td>{{ artist?.Name }}</td>
            <td style="width: 12%;" class="text-center">
              <button
                class="btn btn-sm btn-outline-primary"
                routerLink="/detalhe/{{ album.Id }}"
              >
                <i class="fa fa-search-plus"></i>
              </button>
              <button
                class="btn btn-sm btn-outline-warning"
                routerLink="/editar/{{ album.Id }}"
              >
                <i class="fa fa-pencil"></i>
              </button>
              <button
                type="submit"
                class="btn btn-sm btn-outline-danger"
                (click)="excluir(album.Id)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #loading> <span>Carregando...</span> </ng-template>
      <pagination-controls (pageChange)="page =$event"></pagination-controls>
    </div>
  </div>
</div>
