<div class="mt-3">
  <div class="card mb-3">
    <div class="card-header">
      <span class="font-weight-bold">Detalhe do Album</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ album.Name }}</h5>
        <p class="card-text">Cod: {{ album.Id }}</p>
        <p class="card-text">Artista: {{ artist.Name }}</p>
      </div>
  </div>
</div>
