<div class="bg-light mt-3 px-2">
  <div class="row justify-content-between align-items-center">
    <div class="col-12 col-lg-3"><p class="lead mb-0">Lista de artistas</p></div>
    <div class="col-12 col-lg-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <input
          class="form-control form-control-sm"
          type="search"
          placeholder="nome do artista..."
          (keyup)="debounce.next($event.target.value)"
        />
      </div>
    </div>

    <div class="col-12 col-lg-3 text-lg-right my-2 font-weight-bold">
      <a routerLink="/novoartista" class="btn btn-light text-muted">
        <i class="fa fa-plus-circle pr-2"></i>Novo Artista
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table
        class="table table-bordered table-hover"
        *ngIf="artists; else: loading"
      >
        <thead>
          <tr>
            <th scope="col" style="width: 3rem;">Cod</th>
            <th scope="col">Artista</th>
            <th scope="col" style="width: 3rem;" class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let artist of (artists
                | filterArtist: filter
                | paginate
                  : { itemsPerPage: 10, currentPage: page, totalItems: total })
            "
          >
            <td class="text-center">{{ artist.Id }}</td>
            <td>{{ artist.Name }}</td>
            <td class="text-center">
              <button
                (click)="excluir(artist.Id)"
                type="submit"
                class="btn btn-sm btn-outline-danger"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
      <ng-template #loading> <span>Carregando...</span> </ng-template>
    </div>
  </div>
</div>
